<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div id="container" th:each="album : ${albums}">
        <div class="card" style="width: 18rem;">
            <img th:src="${album.image}" th:alt="${album.name}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" th:text="${album.name}"></h5>
                <h5 class="card-title" th:text="${album.artist}"></h5>
                <p th:text="${album.playcount}"></p>
            </div>
        </div>
    </div>
</body>

</html>